
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration-style: none; }

/*Letra importada de Google Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

header {
  background-color: darkcyan !important;
  color: white !important;
  align-items: center; }
  header .navBarM {
    background-color: darkcyan !important; 
  
}

.tamLetra {
  font-size: 1.2rem; 
}

/* FOOTER  */
footer {
  background-color: darkcyan;
  color: white;
  font-size: 1rem; }
  footer ul li {
    font-size: 1rem; }
    footer ul li a {
      color: white !important; }
      footer ul li a:hover {
        background-color: darkcyan; 
}

/*body*/
.container {
  background-color: #c5f1e3;
  font-family: "Montserrat", sans-serif;
  text-transform: bold;
  font-size: 1rem;
}

h1 {
  color: black;
  font-size: 2rem;
}

h2 {
  color: black;
  font-size: 1.5rem;
}

/* Pagina de inicio */
.imgInicio {
  object-fit: cover;
  width: 600px;
  height: 500px;
}

section .parrafoInicio {
  margin: 25px;
}

section .parrafoEstilo3 {
  font-size: 1.2rem;
}

/* Pagina de productos */
.imgProductos {
  height: 300px;
  object-fit: cover;
}

.imgProducto1 {
  margin: 7px;
}

.tamanoCard {
  font-size: 20px;
}

.btnColor1 {
  background-color: darkcyan;
  font-size: 1.2rem;
}

/* Pagina de contacto */
.contenedorForm {
  background-color: darkcyan;
  width: 320px;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  color: white;
  box-shadow: 5px 10px 5px #000;
}

.contenedorForm1 {
  width: 400px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
}

.imgContacto {
  object-fit: cover;
  width: 500px;
  height: 400px;
}

/* Pagina de Formas de pago */
.menuFormPago {
  background-color: darkcyan;
}

.textColor {
  color: white;
}

.fondoColorGradiente {
  background: linear-gradient(to right, #1bc5c5, darkcyan);
  color: white;
  font-size: 1.2rem;
}


