/* FOOTER  */
  
footer {
    $background-color: darkcyan;
    $color: white;
    $font-size: 1rem;

    ul{

    

      li{

        $font-size: 1rem;

        a{

          $color: white !important;


          &:hover {
            $background-color: darkcyan;
          }

        }
      };
    }
  
  
  
}