
/* FOOTER  */
  
footer {
    background-color: darkcyan;
    color: white !important;
    font-size: 1.2rem;

    ul{
  
  
      li{
  
        font-size: 1.2rem;
        
        &:visited {
            color: black;
        }
  
        a{
  
          color: white !important;
  
          &:hover {
            background-color: darkcyan;}
  
        }
      }
    }
  
}
  