/* Header */

header {
    $background-color: darkcyan !important;
    $color: white !important; 
    $align-items: center;
    
      .navBarM {
        $background-color: darkcyan !important ;
        
  
      }
  }
  
  .tamLetra {
    $font-size: 1.2rem;
  }